<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type="text/css">
<!--- MathJax Configuration -->
<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<!--Exclude Var-->
<script>
    function hidesections() {
        var exclude_sections = [{% for hidden_section in page.hideid %}"{{ hidden_section }}" ,{% endfor %} "#dummy-section"];
        for( var i = 0; i < exclude_sections.length; i++) {
        var html_exclude_tag = $( exclude_sections[i] ).prop("tagName");
            if(html_exclude_tag.charAt(0) == "H") {
                $( exclude_sections[i] ).nextUntil( html_exclude_tag ).andSelf().css("display", "none")
            } else {
                $( exclude_sections[i] ).css("display", "none")
            }
        }
    }
    $(document).ready(function() {
        hidesections();
    })
</script>